.name-title {
  color: white;
  text-align: center;
  pointer-events: none;
}
.name-title-role {
  color: white;
  text-align: center;
  pointer-events: none;
}

.photo {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-img-outline {
  position: absolute;
  background-color: violet;
  border: 5px dashed blue;
  padding: 10px;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  animation: rotate 25s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.photo-img {
  position: relative;
  width: 380px;
  border-radius: 50%;
  animation: none;
}

.btn-download {
  display: flex;
  justify-content: center;
}

.notice {
  position: fixed;
  background-color: rgb(160, 0, 0);
  color: white;
  bottom: 0%;
  padding: 2px 10px;
  font-size: 0.9rem;
}
